@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
/* Basic editor styles */
.tiptap {
  > * + * {
    margin-top: 0.75em;
  }
}

/* Placeholder (at the top) */
.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
.width-fixed {
  width: 100px !important;
}
iframe {
  max-width: 100% !important; /* Đặt chiều rộng tối đa là 100% của phần tử cha */
  /* Đảm bảo chiều cao tự động điều chỉnh theo tỷ lệ khung hình */
  display: block !important; /* Đặt dạng hiển thị thành block để loại bỏ khoảng trắng phía dưới */
  /* Đặt margin thành 0 để loại bỏ khoảng trắng xung quanh */
  border: none !important; /* Loại bỏ đường viền */
}

@media (max-width: 768px) {
  iframe {
    height: 300px !important; /* Chiều cao cho điện thoại di động */
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
